<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Address Book Application</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
<div class="container">
    <h1>Address Book Application</h1>
    <hr>
    <h2>Add Contact</h2>

    <form action="#" th:action="@{/user/v1/add-new-contact}" th:object="${contactDTO}" method="POST">
        <input type="text" th:field="*{name}" placeholder="Name" class="form-control mb-4 col-4" required>

        <input type="text" th:field="*{phoneNumber}" placeholder="Phone Number" class="form-control mb-4 col-4"
               pattern="[6-9]{1}[0-9]{9}" required>

        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Select addressBook
            </button>
        <select th:field="*{addressBookName}">
            <option class="dropdown-item" th:each="addressBook : ${addressBookList}" th:value="${addressBook.addressBookName}" th:text="${addressBook.addressBookName}"></option>
        </select>
        </div>
        <button type="submit" class="btn btn-info col-2">Save Contact</button>
    </form>

    <hr>

    <a th:href="@{/user/v1/get-all-books}"> Back to Contact List</a>
</div>
</body>

</html>