<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add an address book</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<div class="container my-2">
    <h2>Add a new Address Book!</h2>

    <form action="#" th:action="@{/user/v1/add-new-book}" th:object="${addressBookDTO}" method="POST">

        <input type="text" th:field="*{addressBookName}" placeholder="name" class="form-control mb-4 col-4" required/>
        <button type="submit" class="btn btn-info col-2">Add new Address Book</button>
    </form>

    <a th:href="@{/}" class="btn btn-primary btn-sm mb-3"> Back </a>
</div>
</body>
</html>