<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ADDRESS-BOOK-APPLICATION</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
</head>
<body>
<div class="container my-2" ”>

    <h1 th:text="${bookName} + ' Contact List'"></h1>
    <table border="1" class="table table-striped table responsive-md">
        <thead>
        <tr>
            <th>Name</th>
            <th>Phone Number</th>
            <th>Edit Contact</th>
            <th>Delete Contact</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="contact:${contactList}">
            <td th:text="${contact.name}"></td>
            <td th:text="${contact.phoneNumber}"></td>
            <td><a th:href="@{/user/v1/edit-contact-form/{id}(id=${contact.id})}"><button type="button" class="btn btn-primary">Update Contact <i class="bi bi-pencil"></i></button></a></td>
            <td><a th:href="@{/user/v1/delete-contact/{id}(id=${contact.id})}"><button type="button" class="btn btn-danger"><i class="bi bi-trash"></i></button></a></td>
        </tr>
        </tbody>
    </table>
    <hr>
    <a th:href="@{/user/v1/get-all-books}"> Back to Address Book List</a>
</div>
</body>
</html>