<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ADDRESS-BOOK-APPLICATION</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>
<body>
<div class="container my-2">
    <h1 style="text-align:center">Address Book Application</h1>
    <div >
    <a th:href="@{/user/v1/add-addressbook}" class="btn btn-primary btn-sm mb-3"> Add Address Book </a>
    <a th:href="@{/user/v1/show-add-contact-form}" class="btn btn-primary btn-sm mb-3"> Add New Contact </a>
    <a th:href="@{/user/v1/get-all-unique-relative-contacts}" class="btn btn-primary btn-sm mb-3"> View Unique Contacts
        Between AddressBooks</a>
    </div>

    <h2 style="text-align:center">Address Book List</h2>
    <br>
    <table border="1" class="table table-striped table responsive-md">
        <thead>
        <tr>
            <th>Address Book Name</th>
            <th> Remove Book </th>
            <th>View book contacts</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="addressBook:${addressBookList}">
            <td th:text="${addressBook.getAddressBookName()}"></td>
            <td> <a th:href="@{/user/v1/delete-book/{bookName}(bookName=${addressBook.addressBookName})}"><button type="button" class="btn btn-primary"><span class="bi bi-trash"></span> Delete</button> </a> </td>
            <td><a th:href="@{/user/v1/get-all-contacts-bookname/{bookName}(bookName=${addressBook.addressBookName})}"><button type="button" class="btn btn-primary"><span class="bi bi-telephone"></span>View Contacts</button></a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
